# Shared across all services
TZ=Asia/Tokyo

# Database credentials
POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# app-server
RUST_BACKTRACE=1
RUST_LOG=debug

# app-front
COREPACK_ENABLE_DOWNLOAD_PROMPT=0
DOCKER_ENV=true
NODE_ENV=development
