services:
  app-server:
    build: ./server
    command: sh -c 'cargo build && cargo watch -x run'
    environment:
      - RUST_BACKTRACE=1
      - RUST_LOG=debug
    networks:
      - app-network
    ports:
      - 3001:3001
    stdin_open: true
    tty: true
    volumes:
      - ./server:/app-server:cached
      - cargo-registry:/usr/local/cargo/registry
      - rust-target:/app-server/target

  app-web:
    build: ./web
    command: sh -c 'pnpm install && pnpm dev'
    depends_on:
      - app-server
    environment:
      - DOCKER_ENV=true
      - NODE_ENV=development
    networks:
      - app-network
    ports:
      - 3000:3000
    stdin_open: true
    tty: true
    volumes:
      - ./web:/app-web:cached
      - node-modules:/app-web/node_modules
      - pnpm-store:/app-web/.pnpm-store

networks:
  app-network:

volumes:
  cargo-registry:
  rust-target:
  node-modules:
  pnpm-store:
