name: Server

on:
  push:
    branches: [ "**" ]
    paths:
      - server/**
      - .github/workflows/server.yaml
  pull_request:
    branches: [ "**" ]
    paths:
      - server/**
      - .github/workflows/server.yaml

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Run Build
      run: cargo build --verbose

    - name: Run test
      run: cargo test --verbose
