name: Web

on:
  push:
    branches: [ "**" ]
    paths:
      - web/**
      - .github/workflows/web.yaml
  pull_request:
    branches: [ "**" ]
    paths:
      - web/**
      - .github/workflows/web.yaml

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: web

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install packages
        run: |
          corepack enable
          pnpm install --frozen-lockfile

      - name: Run lint
        run: pnpm lint

      - name: Run build
        run: pnpm build
